{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1 class="py-2">Here will appear some interesting news or last updates.</h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>

{% if posts.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<div class="container">
    {% block btn %}
    <div class="mb-5 py-4 text-center">
        <a href="{% url 'photos_view' %}" class="btn btn-outline-dark btn-lg btn-block">Take a look at My travel photos</a>
        <p class="m-0 p-0">
            or
        </p>
        <a href="{% url 'contact_view' %}" class="btn btn-outline-dark btn-lg btn-block">Get in touch with me</a>
    </div>
    {% endblock btn %}
</div>

{% endblock %}
