{% extends "base.html" %}
{% block title %}My work{% endblock %}
{% block page_content %}
<div class="text-white bg-secondary mb-5 py-4 text-center">
    <div class="card-body">
        <h1>My work</h1>
        <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    </div>
</div>
<div class="container">
    <div class="card-columns">
        {% for project in projects %}
        <div class="card">
            <img class="card-img-top img-fluid" src="{{ project.image.url }}" alt="Card image cap" height="220px">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-dark">
                    Read More
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if projects.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if projects.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            {% endif %}
            {% for i in projects.paginator.page_range %}
            {% if projects.number == i %}
            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if projects.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


    {% block btn %}
    <div class="mb-5 py-4 text-center">
        <a href="{% url 'tools_view' %}" class="btn btn-outline-dark btn-lg btn-block">Check out My tools</a>
        <p class="m-0 p-0">
            or
        </p>
        <a href="{% url 'blog_index' %}" class="btn btn-outline-dark btn-lg btn-block">Read My blog</a>
    </div>
    {% endblock btn %}

</div>



{% endblock %}
