{% extends "base.html" %}

{% block title %}{{project.title}}{% endblock %}

{% block page_content %}
<div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{ project.title }}</h1>
    <hr class="mt-2 mb-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <a href="{{ project.image.url }}" class="d-block mb-4 h-100" data-lightbox="photos">
                <img class="img-fluid img-thumbnail project-photo" src="{{ project.image.url }}" alt="">
            </a>
        </div>
        {% for image in images %}
        <div class="col-lg-3 col-md-4 col-6">
            <a href="{{ image.images.url }}" class="d-block mb-4 h-100" data-lightbox="photos">
                <img class="img-fluid img-thumbnail project-photo" src="{{ image.images.url }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-12">
        <h5>About the work:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Tools used:</h5>
        {% for tool in project.tool_used.all %}
            <a href="{% url 'tool_detail' tool.pk %}">{{ tool }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}
