{% extends "base.html" %}

{% block title %}My tools{% endblock %}

{% block page_content %}
<div class="text-white bg-secondary mb-5 py-4 text-center">
    <div class="card-body">
        <h1>Tools</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">#num</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for tool in tools %}
                <tr>
                    <th scope="row">#{{tool.tool_num}}</th>
                    <td><a href="{%url 'tool_detail' tool.id%}">{{tool.name}}</a></td>
                    <td><img src='{{tool.image.url}}'
                   alt="Tool image" class="img-responsive img-rounded"
                   style="max-height: 50px; max-width: 50px;"></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% if tools.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if tools.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ tools.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% endif %}
        {% for i in tools.paginator.page_range %}
        {% if tools.number == i %}
        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if tools.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ tools.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}
